<div class="container-sm">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="employeeForm" (ngSubmit)="onFormSubmit(employeeForm.value)">
          <label class="col-form-label">Name</label>
          <div class="form-group">
              <input formControlName="Name"
              placeholder="Name">
          </div>

          <label class="col-form-label">Email</label>
          <div class="form-group">
              <input formControlName="Email"
              placeholder="Email">
          </div>

            <label class="col-form-label">Address</label>
            <div class="form-group">
                <input formControlName="Address"
                placeholder="Address">
            </div>

            <label class="col-form-label">Phone</label>
            <div class="form-group">
                <input formControlName="Phone"
                placeholder="Phone">
            </div>

        <button type="submit" *ngIf="employeeIdUpdate == null" class="btn btn-primary">
            Add
        </button>

        <button type="submit" *ngIf="employeeIdUpdate != null" class="btn btn-primary">
            Update
        </button>
        </form>
    </div>
  </div>

</div>
